* {
    primary: #765085;
    primary-fixed: #f8d8ff;
    primary-fixed-dim: #e4b7f3;
    on-primary: #ffffff;
    on-primary-fixed: #2d0a3d;
    on-primary-fixed-variant: #5d386b;
    primary-container: #f8d8ff;
    on-primary-container: #2d0a3d;
    secondary: #69596d;
    secondary-fixed: #f1dcf4;
    secondary-fixed-dim: #d4c0d7;
    on-secondary: #ffffff;
    on-secondary-fixed: #231728;
    on-secondary-fixed-variant: #504255;
    secondary-container: #f1dcf4;
    on-secondary-container: #231728;
    tertiary: #815250;
    tertiary-fixed: #ffdad8;
    tertiary-fixed-dim: #f5b7b5;
    on-tertiary: #ffffff;
    on-tertiary-fixed: #331111;
    on-tertiary-fixed-variant: #663b39;
    tertiary-container: #ffdad8;
    on-tertiary-container: #331111;
    error: #ba1a1a;
    on-error: #ffffff;
    error-container: #ffdad6;
    on-error-container: #410002;
    surface: #fff7fb;
    on-surface: #1f1a1f;
    on-surface-variant: #4c444d;
    outline: #7d747d;
    outline-variant: #cec3cd;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #342f34;
    inverse-on-surface: #f8eef5;
    inverse-primary: #e4b7f3;
    surface-dim: #e1d7df;
    surface-bright: #fff7fb;
    surface-container-lowest: #ffffff;
    surface-container-low: #fbf1f8;
    surface-container: #f5ebf3;
    surface-container-high: #efe5ed;
    surface-container-highest: #e9e0e7;
}
