* {
    font-family: "Product Sans", sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(20, 18, 24, 0.85);
    border-radius: 16px;
    border: 2px solid #49454f;
    color: #e6e0e9;
}

#workspaces {
    background-color: transparent;
    margin: 4px;
}

#workspaces button {
    color: #cac4d0;
    padding: 0 8px;
    border-radius: 10px;
}

#workspaces button.active {
    color: #2f2364;
    background-color: #c6b8ff;
}

#workspaces button:hover {
    background-color: #46387b;
    color: #e5deff;
}

#window,
#clock,
#pulseaudio,
#network,
#battery,
#tray,
#custom-power {
    padding: 0 10px;
    margin: 4px 2px;
    border-radius: 10px;
    background-color: #211f26;
    color: #e6e0e9;
}

#clock {
    color: #c6b8ff;
    font-weight: bold;
}

#battery.warning {
    color: #ffb4ab;
}

#battery.critical {
    color: #ffb4ab;
    background-color: #93000a;
}

#custom-power {
    color: #efb8c8;
}

#custom-power:hover {
    background-color: #633b48;
}
